.averageReviewContainer {
  background-color: #f3f3f5;
  height: 30vh;
  margin-left: 0;
  top: 0;
  padding: 2em;
  display: flex;
}

.score {
  background-color: #FC5056;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  margin-right: 2em;
}

.score h1 {
  font-size: 4em;
}

.score p {
  font-size: 1.2em;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 2em;
}

.details h3 {
  font-weight: 400;
  font-size: 1em;
}

.details1 {
  display: flex;
  flex-direction: column;
  gap: 1em
}

.details2 {
  display: flex;
  flex-direction: column;
  gap: 1em
}

.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.serviceChart {
  content: '';
  width: 15vw;
  height: 1vh;
  border-radius: 20px;
  background-color: #e0e1e6;
  position: relative;
}

.serviceChartColor {
  content: '';
  height: 100%;
  border-radius: 20px;
  background-color: #FC5056;
}

.locationsChartColor {
  content: '';
  height: 100%;
  border-radius: 20px;
  background-color: #FC5056;
}

.amenitiesChartColor {
  content: '';
  height: 100%;
  border-radius: 20px;
  background-color: #FC5056;  
}

.priceChartColor {
  content: '';
  height: 100%;
  border-radius: 20px;
  background-color: #FC5056;
}

.foodChartColor {
  content: '';
  height: 100%;
  border-radius: 20px;
  background-color: #FC5056;
}

.roomsChartColor {
  content: '';
  height: 100%;
  border-radius: 20px;
  background-color: #FC5056;  
}