.signUpContainer {
  width: 22vw;
  height: 60vh;
  background-color: #f3f3f5;
  position: absolute;
  top: 22vh;
  right: 20vw;
  padding: 1.5em;
  gap: 1em;
  display: flex;
  flex-direction: column;
}

.loginInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginInfo img {
  height: 100px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 1em;
}

.formName {
  display: flex;
  gap: 1em;
}

.signUpForm input {
  width: 100%;
  height: 4.6vh;
  border: none;
  outline: none;
  border-radius: 10px;
  padding-left: 1em;
  margin-bottom: 1.5em;
}

.signUpForm button {
  width: 100%;
  height: 4.6vh;
  background-color: #FC5056;
  color: #FFF;
  border: none;
  border-radius: 10px;
  transition: background-color 0.5s ease, transform 0.5s ease;
  cursor: pointer;
}

.signUpForm button:hover {
  background-color: #ff393f;
}

.loginButtons {
  display: flex;
  gap: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #d1d1d1;
}

.signin {
  font-weight: 600;
  text-align: center;
  padding: 0;
  color: #051036;
}

.signin a {
  color: #FC5056;
  font-weight: 600;
  text-decoration: none;
}

