.tourInfoContainer {
  width: 50vw;
  margin-left: 0;
  top: 0;
  margin-bottom: 8em;
}

.tourImage {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  margin-bottom: 2vh;
  position: relative;
}

.tourImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttonsImage {
  position: absolute;
  z-index: 1000;
  right: 1vw;
  bottom: 2vh;
  display: flex;
  gap: 1em;
}

.buttonsImage1, .buttonsImage2 {
  background-color: #FFF;
  border-radius: 5px;
  color: #051036;
  padding: 0.3em 1em;
  cursor: pointer;
  display: flex;
  gap: 0.2em;
  align-items: center;
  border: 1px solid rgb(224, 224, 224);
}


.tourTitle {
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid #f3f3f5;
}

.tourTitle h1 {
  color: #051036;
  font-weight: 900;
  font-size: 2.5em;
}

.tourData {
  display: flex;
  justify-content: space-between;
}

.tourData p {
  font-weight: 600;
  
}

.tourData h6 {
  color: #6b7087;
  display: flex;
;
}

.priceColor {
  color: #FC5056
}

.starColor {
  color: #FC5056;
}

.tourOverview {
  color: #6b7087;
}

.tourOverview h3, .tourMap h3 {
  color: #051036;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.mapContainer {
  width: 100%;
  height: 50vh;
  margin: 2em 0;
}

.locationColor {
  color: #6b7087;  
}

.tourAverageReview {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: #051036;
}

.noReview {
  text-align: left;
  padding: 2em;
  border: 1px solid #f3f3f5;
  margin-top: 2em;
  font-weight: 600;
}

.reviewCounter {
  color: #6b7087;
  font-weight: 400;
}

.showReviewCount {
  margin-top: 2em;
}

.tourLocation {
  display: flex;
  justify-content: space-between;
}

.linkMap {
  color: #FC5056;
  padding-left: 1em;
  cursor: pointer;
}

.icon1Color, .icon2Color {
  color: #6b7087;
}

.icon1Color {
  margin-right: 0.5em;
}

.icon1Color:hover, .icon2Color:hover {
  color: #FC5056;
}