.tourInfoContainer {
  margin: 0 auto;
  font-family: 'Work Sans';
}

.tourInfoComponents {
  width: 70vw;
  margin: 0 auto;
  position: relative;
  margin-top: 5vh;
}

.demoContainer h2 {
  color: #051036;
  font-size: 2.5em;
  text-align: center;
  padding: 0;
}
