.sidebarContainer {
  width: 14vw;
  display: flex;
  flex-direction: column;
  gap: 3.7em;
  position: relative;
  left: 0vw;
}

.sidebarContainer h3 {
  font-weight: 800;
  color: #051036;
  margin-bottom: 1em;
}

.sidebarSearch {
  background-color: #f3f3f5;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.sidebarSearch input {
  border: none;
  border-radius: 5px;
  height: 3em;
  padding-left: 1em;
  outline: none;
}

.sidebarFilter {
  background-color: #f3f3f5;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.sidebarFilter input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px; 
  height: 20px;
  background: #FC5056; 
  cursor: pointer;
  border-radius: 50%; 
  border: 2px solid #fff; 
}

.sidebarFilter button {
  background-color: #FC5056;
  color: #FFF;
  border: none;
  border-radius: 10px;
  width: 50%;
  height: 3em;
  cursor: pointer;
}

.sidebarFilter button:hover {
  background-color: #ff393f;
}

.sidebarCategories {
  background-color: #f3f3f5;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.sidebarDestinations {
  background-color: #f3f3f5;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.sidebarReviews {
  background-color: #f3f3f5;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.priceField {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.priceFilter {
  font-weight: 700;
  font-size: 1.2em;
  color: #051036;
}

.checkStar, .checkCategories {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.checkStar input, .checkCategories input {
  margin-right: 1em;
}

.checkStar label, .checkCategories label {
  color: #6b7087;
}




input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Estilo do label que funciona como o "checkbox" visual */
input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px; /* Ajuste conforme necessário */
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
}

/* Estilo do "checkbox" customizado */
input[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #f1f1f1; /* Cor padrão */
  border-radius: 3px;
  border: 1px solid #999;
}

/* Estilo do "checkbox" quando marcado */
input[type="checkbox"]:checked + label::before {
  background-color: #FC5056; /* Cor quando marcado */
  border: 1px solid #FC5056;
}

/* Estilo do checkmark */
input[type="checkbox"]:checked + label::after {
  content: '✔'; /* Pode usar outros caracteres ou imagens */
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  color: white; /* Cor do checkmark */
  font-size: 16px;
}