.sidebarContainer {
  width: 14vw;
  display: flex;
  flex-direction: column;
  gap: 3.7em;
  position: relative;
  left: 0vw;
}

.sidebarContainer h3 {
  font-weight: 800;
  color: #051036;
  margin-bottom: 1em;
}

.sidebarSearch {
  background-color: #f3f3f5;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.sidebarSearch input {
  border: none;
  border-radius: 5px;
  height: 3em;
  padding-left: 1em;
  outline: none;
}

.sidebarFilter {
  background-color: #f3f3f5;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.sidebarFilter button {
  background-color: #FC5056;
  color: #FFF;
  border: none;
  border-radius: 10px;
  width: 50%;
  height: 3em;
  cursor: pointer;
}

.sidebarFilter button:hover {
  background-color: #ff393f;
}

.sidebarCategories {
  background-color: #f3f3f5;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.sidebarDestinations {
  background-color: #f3f3f5;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.sidebarReviews {
  background-color: #f3f3f5;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.priceField {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.priceFilter {
  font-weight: 700;
  font-size: 1.2em;
  color: #051036;
}

.checkStar, .checkCategories {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.checkStar input, .checkCategories input {
  margin-right: 1em;
}

.checkStar label, .checkCategories label {
  color: #6b7087;
}

.crwrapper *,
.crwrapper *::before,
.crwrapper *::after {
	box-sizing: content-box !important;
}

.crwrapper input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.crwrapper span {
	font-size: 16px;
}

.crwrapper {
	display: table;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	margin-bottom: 5px;
}

.crwrapper input[type="checkbox"] ~ .crinput {
	position: absolute;
	top: 50%;
	left: 0;
	height: 16px;
	width: 16px;
	background: #F3F3F5;
	transition: background 250ms;
	border: 1px solid #A9A9A9;
	border-radius: 3px;
	transform: translate(0, -50%);
}

.crwrapper input[type="radio"] ~ .crinput {
	position: absolute;
	top: 50%;
	left: 0;
	height: 16px;
	width: 16px;
	background: #F3F3F5;
	transition: background 250ms;
	border: 1px solid #A9A9A9;
	border-radius: 20px;
	transform: translate(0, -50%);
}

.crwrapper input[type="checkbox"] ~ .crinput::after {
	content: "";
	position: absolute;
	display: none;
	left: 3px;
	top: 2px;
	width: 12px;
	height: 12px;
	transition: background 250ms;
	background-color: #FFFFFF;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.crwrapper input[type="radio"] ~ .crinput::after {
	content: "";
	position: absolute;
	display: none;
	left: 4px;
	top: 4px;
	width: 12px;
	height: 12px;
	border-radius: 20px;
	background: #FFFFFF;
	transition: background 250ms;
}

.crwrapper input:checked ~ .crinput::after {
	display: block;
}

.crwrapper:hover input[type="checkbox"]:not([disabled]) ~ .crinput,
.crwrapper input[type="checkbox"]:focus ~ .crinput {
	background: #F3F3F5;
	border-color: #A9A9A9;
}

.crwrapper:hover input[type="radio"]:not([disabled]) ~ .crinput,
.crwrapper input[type="radio"]:focus ~ .crinput {
	background: #F3F3F5;
	border-color: #A9A9A9;
}

.crwrapper input[type="checkbox"]:checked ~ .crinput {
	background: #FC5056;
	border-color: #A9A9A9;
}

.crwrapper input[type="radio"]:checked ~ .crinput {
	background: #FC5056;
	border-color: #A9A9A9;
}

.crwrapper input[type="checkbox"]:disabled ~ .crinput,
.crwrapper input[type="radio"]:disabled ~ .crinput {
	opacity: 0.5;
	cursor: not-allowed;
}

.crwrapper input[type="checkbox"]:disabled ~ span,
.crwrapper input[type="radio"]:disabled ~ span {
	opacity: 0.5;
	cursor: not-allowed;
}

.crwrapper input[type="checkbox"]:disabled ~ .crinput::after {
	background: #FFFFFF;
}

.crwrapper input[type="radio"]:disabled ~ .crinput::after {
	background: #FFFFFF;
}

.crwrapper:hover input[type="checkbox"]:not([disabled]):checked ~ .crinput,
.crwrapper input[type="checkbox"]:checked:focus ~ .crinput {
	background: #FC5056;
	border-color: #A9A9A9;
}

.crwrapper:hover input[type="radio"]:not([disabled]):checked ~ .crinput,
.crwrapper input[type="radio"]:checked:focus ~ .crinput {
	background: #FC5056;
	border-color: #A9A9A9;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background: linear-gradient(to right, #FC5056 0%, #FC5056 0%, #ddd 0%, #ddd 100%);
  outline: none;
  transition: background 0.3s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #FC5056;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FC5056;
  cursor: pointer;
}
