.tourContainer {
  font-family: 'Work Sans';
}

.tourContent {
  width: 70vw;
  margin: 2em auto;
  display: flex;
}

.toursCards {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 3.9em;
}

.sortBar {
  display: flex;
  margin-bottom: 2em;
}

.cards {
  width: 100%;
}