.titleBarContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title2 {
  color: #051036;  
  font-weight: 900;
  font-size: 3em;
  margin: 0;
}

.titleContainer {
  width: 20vw;
  margin: 0 auto;
  display: flex;
  flex-grow: 1;
}

.lineContainer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.title1Container {
  padding: 0 0.5em;
}

.title1Container h2 {
  color: #FC5056;
  font-size: 1.8em;
  font-weight: 400;
  font-family: "Kaushan Script", cursive;
  margin: 0;
}

.line {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}
