.searchContainer {
  width: 70vw;
  height: 10vh;
  padding: 1em 1em;
  border-radius: 10px;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;
  margin: 0 auto;
  font-family: "Work Sans";
  box-shadow: 2px 10px 10px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 5vh;
}

.searchField {
  display: flex;
  flex-direction: column;
  
}

.searchField label {
  font-family: "Kaushan Script", cursive;
  font-weight: 500;
  font-size: 1em;
}

.searchField input {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  height: 4vh;
  width: 13.5vw;
  padding-left: 1em;
  outline: none;
}

.buttonContainer {
  display: flex;
  justify-content: end;
  align-items: end;
}

.searchButton {
  background-color: #FC5056;
  color: #FFF;
  border: none;
  border-radius: 10px;
  padding: 1em 2.3em;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.searchButton:hover {
  background-color: #ff393f;
}