.searchContainer {
  width: 70vw;
  height: 10vh;
  padding: 1em 1em;
  border-radius: 10px;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 0 auto;
  box-shadow: 2px 10px 10px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 5vh;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.searchField {
  display: flex;
  flex-direction: column;
}

.searchField label {
  font-family: "Kaushan Script", cursive;
  font-weight: 500;
  font-size: 1em;
}

.searchField input, .searchField select{
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  height: 4vh;
  width: 13.5vw;
  padding-left: 2.5em;
  outline: none;
}

.buttonContainer {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-top: 1.2em;
}

.searchButton {
  background-color: #FC5056;
  color: #FFF;
  border: none;
  border-radius: 10px;
  height: 4vh;
  width: 5vw;
  font-size: 0.9em;
  transition: background-color 0.5s ease, transform 0.5s ease;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #ff393f;
}

.iconPosition1 {
  position: absolute;
  top: 5.2vh;
  left: 2.6vw;
}

.iconPosition1 img {
  width: 1.2em;
  height: 1.2em;
}

.iconPosition2 {
  position: absolute;
  top: 5.2vh;
  left: 17.8vw;
}

.iconPosition2 img {
  width: 1.2em;
  height: 1.2em;
}

.iconPosition3 {
  position: absolute;
  top: 5.2vh;
  left: 33vw;
}

.iconPosition3 img {
  width: 1.2em;
  height: 1.2em;
}

.iconPosition4 {
  position: absolute;
  top: 5.2vh;
  left: 48.1vw;
}

.iconPosition4 img {
  width: 1.2em;
  height: 1.2em;
}
